body {
  background-color: #e8e8e8;
  background-image: url("/images/lapBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-blend-mode:lighten; */
  text-align: center;
  margin: 0 50px 0 50px;
}


/* other colors:
  #f4f4f2
  #e8e8e8
  #bbbfca
  #495464
   */

h1, h2 {
  margin: 50px;
}

p {
  text-align: left;
  margin-left: 50px;
}

li {
text-align: left;
}


.titolo{
  background-color: #495464;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.content {
  border-style: dotted;
  border-radius: 5px;
  margin-bottom: 30px;
}

.question {
  background-color: #bbbfca;
  color: black;
  padding: 10px;
  border-radius: 5px;

}

.descr {

}

.answers {
  width:60%;
  margin:auto;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 1.5rem;
}

.ctrlbuttons {
  font-size: 1.5rem;
}
